{% extends "base.html.twig" %}

{% block title %}Fiche auteur |
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Fiche auteur
			<p>{{author.name}}
				{{author.firstName}}</p>
		</h1>
		<a href="{{path('authors.index')}}">Retour à l'index</a>

		<div id="authorView">

			{% for book in author.books %}

				<div class="bookCard">
					<a href="{{path('books.details', {id: book.id})}}">
						<div class="bookCardContent">
							<aside>
								{% if book.bookCover %}
									{{book.bookCover}}
								{% else %}
									<img src="/images/defaultImage.jpg" alt="Couverture du livre indisponible" width="130" height="200">
								{% endif %}
							</aside>
							<div class="bookCardIntel">
								<h2 class="bookCardTitle">{{book.title}}</h2>
								<p>Editeur :{{book.publisher}}</p>
								<p>Paru en :{{book.publishingDate}}</p>
								<p>ISBN :{{book.isbn}}</p>
							</div>
						</div>
					</a>

				</div>

			{% endfor %}

		</div>
	</section>
{% endblock %}
