{% extends "base.html.twig" %}

{% block title %}Modifier un commentaire

	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Modifier un commentaire</h1>
		<a href="{{path('post.details', {id: post.id})}}">
			<button>Retour</button>
		</a>

		<div class="comment glassmorph">
			{% if app.user != comment.author and is_granted('ROLE_ADMIN') %}

				<div class="commentHeader">
					<p>{{comment.author}}</p>
					<p>{{comment.createdAt| format_datetime('full', 'medium', locale='fr')}}</p>
				</div>
				<article>
					<p>
						<strong>{{comment.title}}</strong>
					</p>
					{{comment.content}}</article>
				{{comment.enable ? 'Visibilité publique' : 'Visibilité restreinte'}}


			{% endif %}

			{{form_start(form, {'attr':{'class':'formAdmin'}})}}
			{{form_widget(form)}}
			<button type="submit">Modifier</button>
			{{form_end(form)}}
		</div>

	</section>
{% endblock %}
