{% extends "base.html.twig" %}

{% block title %}Auteurs |
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Création d'une fiche auteur</h1>

		<div class="glassmorph">
			<a href="{{path('authors.index')}}">Retour</a>
			{{form_start(form, {'attr':{'class':'formAdmin'}})}}
			{{form_widget(form)}}
			<button type="submit">Créer la fiche</button>
			{{form_end(form)}}

		</div>
	</section>
{% endblock %}
