{% extends "base.html.twig" %}

{% block title %}Editeur |
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Création d'une fiche éditeur</h1>
		<div class="glassmorph">
			<a href="{{path('publishers.index')}}" style="text-decoration: underline">Retour à l'index</a>


			{{form_start(form, {'attr':{'class':'formAdmin'}})}}
			{{form_widget(form)}}
			<button type="submit">Créer la fiche</button>
			{{form_end(form)}}

		</div>
	</section>
{% endblock %}
