{% extends "base.html.twig" %}

{% block title %}Editeurs |
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Modification d'une fiche éditeur</h1>

		<div class="glassmorph">
			<a href="{{path('admin.publishers.details', {id: publisher.id})}}" style="text-decoration: underline">
				Retour
			</a>
			{{form_start(form)}}
			{{form_widget(form)}}
			<button type="submit">Enregistrer les modifications</button>
			{{form_end(form)}}

			<form action="{{path('admin.publishers.delete', {id:publishre.id})}}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette fiche?')">
				<input type="hidden" name="token" value="{{csrf_token('delete' ~ publisher.id)}}">
				<button>Supprimer</button>
			</form>

		</div>
	</section>
{% endblock %}
