{% extends "base.html.twig" %}

{% block title %}Fiche éditeur |
	{{parent()}}
{% endblock %}

{% block body %}
	<section class="glassmorph">
		<h1 class="cardTitle">Fiche éditeur<br>
			{{publisher.name}}
		</h1>
		<a href="{{path('publishers.index')}}">
			<button>Retour à l'index</button>
		</a>

		<div id="publisherView">
			{% if publisher.books is empty %}
				<p>Il n'y a pas encore de livres associés à cet éditeur</p>

			{% else %}

				{% for book in publisher.books %}

					<div class="bookCard">
						<a href="{{path('books.details', {id: book.id})}}">
							<div class="bookCardContent">
								<aside>
									{% if book.bookCover %}
										{{book.bookCover}}
									{% else %}
										<img src="/images/defaultImage.jpg" alt="Couverture du livre indisponible" width="130" height="200">
									{% endif %}
								</aside>
								<div class="bookCardIntel">
									<h2 class="bookCardTitle">{{book.title}}</h2>
									<p>
										{% for author in book.author %}
											{{author.name}}
											{{author.firstName}};

										{% endfor %}
									</p>
									<p>Paru en :{{book.publishingDate}}</p>
									<p>ISBN :{{book.isbn}}</p>
								</div>
							</div>
						</a>

					</div>

				{% endfor %}
			{% endif %}
		</div>
	</section>
{% endblock %}
