{% extends "base.html.twig" %}

{% block title %}Utilisateurs
{% endblock %}

{% block body %}

	<h1>Liste des utilisateurs</h1>

	<div id="userList">

		{% for user in users %}

			<a href="{{path('users.profile', {id: user.id})}}">
				<div id="userCard">
					<aside>
						{% if user.avatarImg %}
							{{user.avatarImg}}
						{% else %}
							<img src="/images/avatar-default-icon.png" alt="Avatar non défini" width="60vw" height="60vh">
						{% endif %}

					</aside>
					<div id="userCardIntel">
						<h2>{{user.username}}</h2>

						{% for role in user.roles %}

							<div>{{role == 'ROLE_ADMIN'? 'Admin': 'Utilisateur'}}</div>

						{% endfor %}

						<div>{{user.enable ? 'Compte actif' : 'Compte suspendu'}}</div>
					</div>

				</div>
			</a>

		{% endfor %}

	</div>

{% endblock %}
