{% extends "base.html.twig" %}

{% block title %}Modifier un avis |
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Modifier un avis</h1>
		<a href="{{path('books.details', {id: book.id})}}">
			<button>Retour</button>
		</a>
		{{form_start(form, {'attr':{'class':'formAdmin glassmorph'}})}}
		{{form_widget(form)}}
		<button type="submit">Modifier</button>
		{{form_end(form)}}
	</section>
{% endblock %}
