<header>
	<nav>
		<p id="websiteTitle">Les mille et un livres</p>
		<ul id="navbarHeader">
			<li>

				{% if app.user %}

					<a class="headerLink" href="{{path('users.profile', {id: app.user.id})}}">
						<button>Profil</button>
					</a>

				{% else %}

					<a class="headerLink" href="{{path('app.login')}}">
						<button>Se connecter</button>
					</a>

				{% endif %}
			</li>
			<li>
				<button id="buttonMenu">Menu</button>
			</li>
			<li>
				<button>Recherche</button>
			</li>


		</ul>
	</nav>
</header>
<div id="menu_header" class="hide">
	<h2>Menu</h2>
	{% if app.user and is_granted('ROLE_ADMIN') %}

		<a class="menu_header_item" href="/logout">Déconnexion</a>

		<a class="menu_header_item" href="/">Accueil</a>

		<a class="menu_header_item" href="">Nous contacter</a>

		<div class="menu_header_section">
			<h3>Articles</h3>
			<a class="menu_header_item" href="{{path('post.index')}}">Index</a>
			<a class="menu_header_item" href="{{path('admin.post.create')}}">Créer un article</a>
		</div>

		<div class="menu_header_section">
			<h3>Livres</h3>

			<a class="menu_header_item" href="{{path('books.index')}}">Index</a>
			<a class="menu_header_item" href="{{path('admin.books.create')}}">Ajouter une fiche livre</a>
		</div>

		<div class="menu_header_section">
			<h3>Utilisateurs</h3>
			<a class="menu_header_item" href="{{path('admin.users.index')}}">Index</a>
		</div>

		<div class="menu_header_section">
			<h3>Auteurs</h3>
			<a class="menu_header_item" href="{{path('authors.index')}}">Index</a>
			<a class="menu_header_item" href="{{path('admin.authors.create')}}">Ajouter une fiche auteur</a>
		</div>

		<div class="menu_header_section">
			<h3>Editeurs</h3>
			<a class="menu_header_item" href="{{path('publishers.index')}}">Index</a>
			<a class="menu_header_item" href="{{path('admin.publishers.create')}}">Ajouter une fiche éditeur</a>
		</div>

	{% else %}

		{% if app.user %}
			<a href="/logout">Déconnexion</a>
			<a class="menu_header_item" href="">Nous contacter</a>
		{% endif %}

		<a class="menu_header_item" href="/">Accueil</a>

		<div class="menu_header_section">
			<h3>Articles</h3>
			<a class="menu_header_item" href="{{path('post.index')}}">Index</a>
		</div>

		<div class="menu_header_section">
			<h3>Livres</h3>
			<a class="menu_header_item" href="{{path('books.index')}}">Index</a>
		</div>

		<div class="menu_header_section">
			<h3>Auteurs</h3>
			<a class="menu_header_item" href="{{path('authors.index')}}">Index</a>
		</div>

		<div class="menu_header_section">
			<h3>Editeurs</h3>
			<a class="menu_header_item" href="{{path('publishers.index')}}">Index</a>
		</div>

	{% endif %}
</div>
