<div class="comment">
	<div class="commentHeader">
		<p>{{commentary.user.username}}</p>
		<p>{{commentary.createdAt | format_datetime('full', 'medium', locale='fr')}}</p>

	</div>
	{% if app.user and is_granted ('ROLE_ADMIN')  %}
		{{commentary.enable ? 'Visibilité publique' : 'Visibilité restreinte'}}

	{% endif %}

	<article>
		{{commentary.content}}
	</article>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{path('admin.commentaries.edit', {id: commentary.id})}}">
			<button>Modifier</button>
		</a>
	{% endif %}
	{% if app.user and app.user == commentary.user %}
		<div class="actionsBtns">
			<a href="{{path('commentaries.edit', {id: commentary.id})}}">
				<button>Modifier</button>
			</a>

			<form action="{{ path('commentaries.delete', {id:commentary.id})}}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet avis?)">
				<input type="hidden" name="_token" value="{{csrf_token('delete')}}">
				<button class="btnDelete">Supprimer</button>
			</form>

		</div>
	{% endif %}
</div>
