<div>
	{{commentary.user.username}}
	{{commentary.createdAt | format_datetime('full', 'medium', locale='fr')}}

</div>
{% if app.user and is_granted ('ROLE_ADMIN')  %}
	{{commentary.enable ? 'Visibilité publique' : 'Visibilité restreinte'}}

{% endif %}

<div>
	{{commentary.content}}
</div>

{% if app.user and is_granted ('ROLE_ADMIN') %}

	{% if app.user == commentary.user  %}
		<a href="{{path('commentaries.edit', {id: commentary.id})}}">Modifier</a>

	{% endif %}


	<form action="{{ path('admin.commentaries.delete', {id:commentary.id})}}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet avis?)">
		<input type="hidden" name="_token" value="{{csrf_token('delete')}}">
		<button>Supprimer</button>
	</form>

{% elseif app.user and app.user == commentary.user %}

	<a href="{{path('commentaries.edit', {id: commentary.id})}}">Modifier</a>

	<form action="{{ path('commentaries.delete', {id:commentary.id})}}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet avis?)">
		<input type="hidden" name="_token" value="{{csrf_token('delete')}}">
		<button>Supprimer</button>
	</form>


{% endif %}
