<div class="comment">
	<div class="commentHeader">
		<p>{{comment.author.username}}</p>
		<p>{{comment.createdAt | format_datetime('full', 'medium', locale='fr')}}</p>

	</div>
	{% if app.user and is_granted ('ROLE_ADMIN')  %}
		{{comment.enable ? 'Visibilité publique' : 'Visibilité restreinte'}}

	{% endif %}

	<article class="commentContent">
		<p>
			<strong>{{comment.title}}</strong>
		</p>
		{{comment.content}}
	</article>

	{% if is_granted('ROLE_ADMIN') %}
		<div class="actionBtns">
			<a href="{{path('admin.post.comment.edit', {id: comment.id})}}">
				<button>Modifier</button>
			</a>
			<form action="{{ path('admin.post.comment.delete', {id:comment.id})}}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire?)">
				<input type="hidden" name="token" value="{{csrf_token('delete' ~ comment.id)}}">
				<button class="btnDelete">Supprimer</button>
			</form>
		</div>

	{% elseif app.user and app.user == comment.author %}
		<div class="actionBtns">
			<a href="{{path('post.comment.edit', {id: comment.id})}}">
				<button>Modifier</button>
			</a>

			<form action="{{ path('post.comment.delete', {id:comment.id})}}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire?)">
				<input type="hidden" name="token" value="{{csrf_token('delete' ~ comment.id)}}">
				<button class="btnDelete">Supprimer</button>
			</form>

		</div>
	{% endif %}
</div>
