{% extends "base.html.twig" %}

{% block title %}
	Profil
	{{parent()}}
{% endblock %}

{% block body %}
	<h1>Profil utilisateur</h1>

	<div>
		<h2>{{user.username}}</h2>


		{% if user.username == app.user %}
			{{form_start(form)}}
			{{form_widget(form)}}
			<button type="submit">Enregister les modifications</button>
			{{form_end(form)}}
		{% endif %}

	</div>
{% endblock %}
