{% extends "base.html.twig" %}

{% block title %}
	Modifier votre profil |
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Profil utilisateur
			{{user.username}}</h1>
		<a href="{{path('users.profile', {id: user.id})}}">Retour au profil</a>

		<div class="glassmorph">
			{% if user == app.user %}
				{{form_start(form, {'attr': {'class':'formAdmin'}})}}
				{{form_widget(form)}}
				<button type="submit">Enregister les modifications</button>
				{{form_end(form)}}
			{% endif %}

		</div>
	</section>
{% endblock %}
