{% extends "base.html.twig" %}

{% block title %}
	Profil |
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Profil utilisateur</h1>

		<div class="glassmorph">
			{% if user.avatarImg %}
				{{user.avatarImg}}
			{% else %}
				<img src="/images/avatar-default-icon.png" alt="Avatar non défini" width="10%" height="10%">
			{% endif %}


			<h2>{{user.username}}</h2>
			{% for role in user.roles %}

				{{role == 'ROLE_ADMIN' ? 'Administrateur' : 'Utilisateur' }}

			{% endfor %}


			{% if app.user == user %}

				<a href="{{path('users.edit', {id: user.id})}}">
					<button>Mettre à jour votre profil</button>
				</a>
			{% endif %}


			{% if user.enable == 0 %}
				<p>Ce compte est actuellement suspendu</p>
			{% endif %}


			<h2>Mes avis</h2>

			{% for avis in commentaries %}


				{% if avis.user.id == app.user.id %}
					<div class="comment">
						<div class="commentHeader">
							<p>{{avis.book.title}}</p>
							<a href="{{path('books.details', {id: avis.book.id})}}">
								<button>Voir la fiche</button>
							</a>
							<p>{{avis.createdAt | format_datetime('full', 'medium', locale='fr')}}</p>
						</div>
						<p>{{avis.content}}</p>
						{% if user.enable == 1 %}
							<div class="actionBtns">
								<a href="{{path('commentaries.edit', {id: avis.id})}}">
									<button>Modifier</button>
								</a>

								<form action="{{ path('commentaries.delete', {id:avis.id})}}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire?)">
									<input type="hidden" name="_token" value="{{csrf_token('delete')}}">
									<button class="btnDelete">Supprimer</button>
								</form>
							</div>
							{% else %}

						{% endif %}
					</div>
				{% endif %}


			{% endfor %}


			<h2>Mes commentaires</h2>

			{% for comment in comments %}
				{% if comment.author.id == app.user.id %}
					<div class="comment">
						<div class="commentHeader">
							<p>{{comment.post.title}}</p>
							<a href="{{path('post.details', {id: comment.post.id})}}">
								<button>Voir l'article</button>
							</a>
							<p>{{comment.title}}</p>
							<p>{{comment.createdAt | format_datetime('full', 'medium', locale='fr')}}</p>
						</div>
						<p>{{comment.content}}</p>
						{% if user.enable == 1 %}
							<div class="actionBtns">
								<a href="{{path('post.comment.edit', {id: comment.id})}}">
									<button>Modifier</button>
								</a>

								<form action="{{ path('post.comment.delete', {id:comment.id})}}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire?)">
									<input type="hidden" name="_token" value="{{csrf_token('delete')}}">
									<button class="btnDelete">Supprimer</button>
								</form>
							</div>
							{% else %}

						{% endif %}
					</div>

				{% endif %}


			{% endfor %}


			{% if is_granted('ROLE_ADMIN') and app.user != user %}

				{{form_start(form, {'attr':{'class':'formAdmin'}})}}
				{{form_row(form.roles)}}
				{{form_row(form.enable)}}
				<button type="submit">Valider</button>
				{{form_end(form)}}

			{% endif %}

			{% if user == app.user %}

				<form action="{{path('users.delete', {id:user.id})}}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre profil?')">
					<input type="hidden" name="token" value="{{csrf_token('delete' ~ user.id)}}">
					<button class="btnDelete">Supprimer votre compte</button>
				</form>

			{% endif %}
		</div>
	</section>

{% endblock %}
