{% extends "base.html.twig" %}

{% block title %}
	Fiche
	{{book.title}}
	|
	{{parent()}}
{% endblock %}

{% block body %}
	<section class="glassmorph">
		<a href="{{path('books.index')}}">
			<button>Retour à l'index</button>
		</a>

		<h1 class="cardTitle">{{book.title}}</h1>

		<div class="bookCategList">
			{% for categorie in book.categories %}

				{{categorie.title }}

			{% endfor %}
		</div>
		<div id="bookView">
			<aside>
				{% if book.bookCover %}
					{{book.bookCover}}

				{% else %}
					<img src="/images/defaultImage.jpg" alt="Image de la couverture indisponible" width="120vw" height="200vh">
				{% endif %}

			</aside>
			<div id="bookIntel">
				<p class="bookIntelItem">Auteur(s) :
					{% for author in book.author %}

						<a href="{{path('authors.details', {id: author.id})}}">{{author.name}}
							{{author.firstName}}</a>,

					{% endfor %}
				</p>
				<p class="bookIntelItem">
					Editeur :
					<a href "{{path('publishers.details', {id: book.publisher.id})}}">{{book.publisher}}</a>
				</p>
				<p class="bookIntelItem">
					Paru en :
					{{book.publishingDate}}
				</p>
				<p class="bookIntelItem">
					ISBN :
					{{book.isbn}}
				</p>
				<p class="bookIntelItem">
					Synopsis :
					{{book.synopsis}}
				</p>
				{% if is_granted('ROLE_ADMIN') %}

					<a href="{{path('admin.books.edit', {id: book.id})}}">
						<button>Modifier la fiche</button>
					</a>
				{% endif %}
			</div>
		</div>

		<div id="Commentaries">
			<h2>Avis</h2>

			{% if book.commentaries is empty %}
				Il n'y a pas encore d'avis pour ce livre

				{% if app.user %}
					{% if app.user.enable == 1 %}
						<div class="commentForm">
							<p>Rédiger un avis</p>
							{{form_start(form, {'attr':{'class':'formAdmin'}})}}
							{{form_widget(form)}}
							<button type="submit">Publier</button>
							{{form_end(form)}}
						</div>

					{% elseif app.user.enable == 0 %}

						Ce compte est actuellement suspendu et ne peut pas poster d'avis
					{% endif %}
				{% else %}

					<a href="{{path('app.login')}}">Connectez-vous pour poster un avis</a>
				{% endif %}
			{% else %}


				{% for commentary in book.commentaries %}

					{% if app.user %}
						{% if app.user.enable == 1 and commentary.user == app.user %}

							<p>Votre avis pour ce livre</p>
							{% include "components/commentCard.html.twig" %}


						{% elseif app.user.enable == 0 %}

							Ce compte est actuellement suspendu et ne peut pas poster d'avis

						{% endif %}
						{% if commentary.enable == 1 and commentary.user != app.user %}

							{% include "components/commentCard.html.twig" %}
						{% endif %}
						{% if app.user.enable == 1 and commentary.user != app.user %}
							<div class="commentForm">
								Rédiger un avis
								{{form_start(form)}}
								{{form_widget(form)}}
								<button type="submit">Publier</button>
								{{form_end(form)}}
							</div>

						{% endif %}
					{% else %}
						{% include "components/commentCard.html.twig" %}


					{% endif %}
				{% endfor %}
				{% if app.user is null %}

					<a href="{{path('app.login')}}">
						<button>Connectez-vous pour poster un avis</button>
					</a>
				{% endif %}
			{% endif %}
		</div>
	</section>
{% endblock %}
